<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">姜萌生的博客</a></h1>
        </div>

        <div>
            <p>published: 23.9.2017, 12:14</p>
            <h2><a href="">黛玉</a></h2>
            <p>两弯似蹙非蹙罥烟眉，一双似喜非喜含情目。态生两靥之愁，娇袭一身之病。泪光点点，娇喘微微。闲静时如姣花照水,行动处似弱柳扶风。心较比干多一窍，病如西子胜三分。</p>
        </div>

        <div>
            <p>published: 23.9.2017, 22:14</p>
            <h2><a href="">宝钗</a></h2>
            <p>宝钗，生得肌骨莹润，举止娴雅。唇不点而红，眉不画而翠，脸若银盆，眼如水杏。又品格端方，容貌丰美，人多谓黛玉所不及。</p>
        </div>
    </body>
</html>